HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Project specific ###
*.log
.DS_Store
application-local.yaml
playwright-session/
docs/
/.claude/
CLAUDE.md
